.container
  %br
  %br
  .section.center-align
    %h4= @tweet.text
  %br
  .divider
  %br
  .section.center-align
    %h5 #{@category.name} - Subcategories
    .row.categories-row
      - @category.subcategories.each do |subcat|
        .col.s4
          %a.btn.btn-small.waves-effect{href: "/whisper/tweets/#{@tweet.id}/#{@category.slug}/#{subcat.slug}"}= subcat.name
